.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width: 1320px) {
        flex-direction: column;
    }
}
.nav {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    padding: 14px 25px 17px;
    width: fit-content;
    background: #F9F9F9;
    border-radius: 30px;
    margin-right: 9px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
        opacity: 0.5;
    }
}
.active {
    background: #282828;
    color: white;
}