.main {
    width: 820px;
    margin: 0 auto;
    @media (max-width: 1000px) {
        width: 600px;
    }
    @media (max-width: 750px) {
        width: 450px;
    }
    @media (max-width: 570px) {
        width: 70vw;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 94px 0 30px;
    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.98px;
        @media (max-width: 750px) {
            display: none;
        }
    }
    button {
        padding: 10px 20px;
        background: white;
        border: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        color: #B6B6B6;
        &:hover {
            color: black;
            background-color: #b6b6b629;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
.headerContainer{
    display: flex;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}
.items {
}
.item {
    border-top: 1px solid #F4F4F4;
    padding-top: 30px;
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 570px) {
        display: flex;
        flex-direction: column;
    }
}
.logo {
    display: flex;
    margin: 5px;
    margin-right: 50px;
    img {
        width: 80px;
        height: 80px;
    }
    @media (max-width: 760px) {
        height: 50px;
    }
    @media (max-width: 570px) {
        margin-right: 0;
        img{
            width: 50px;
            height: 50px;
        }
    }
}
.title {
    h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26.8px;
        @media (max-width: 760px) {
            font-size: 20px;
        }
    }
    p {
        font-size: 18px;
        font-weight: 400;
        color: #8D8D8D;
        @media (max-width: 760px) {
            font-size: 12px;
        }
    }
}
.counter {
    display: flex;  
    align-items: center;
    border: 1px solid #eb5c1e4b;
    border-radius: 20px;
    justify-content: space-evenly;
    padding: 5px;
    h2 {
        margin: 0 10px;
        @media (max-width: 760px) {
            font-size: 20px;
        }
    }
    button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 25px;
        color: #EB5A1E;
        background-color: white;
        border: 1px solid #EB5A1E;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 760px) {
            width: 25px;
            height: 25px;
        }
        &:hover {
            background-color: #EB5A1E;
            color: white;
            cursor: pointer;
        }
    }
}
.price {
    font-weight: bold;
    font-size: 25px;
    border: 1px solid #eb5c1e4b;
    border-radius: 20px;
    padding: 15px;
    @media (max-width: 760px) {
        padding: 8px;
        font-size: 15px;
    }
}
.close {
    width: 32px;
    height: 32px;
    margin: 24px 0;
    border-radius: 50px;
    border: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 10px;
        height: 10px;
    }
    @media (max-width: 760px) {
        width: 25px;
        height: 25px;
    }
    &:hover {
        color: black;
        background-color: #b6b6b629;
        cursor: pointer;
    }
}
.allPrice {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    @media (max-width: 600px) {
        flex-direction: column;
        }
}
.allPizza {
        @media (max-width: 600px) {
            font-size: 15px;
        }
}
.finalPrice {
        @media (max-width: 600px) {
            font-size: 15px;
        }
}
.footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 450px) {
        flex-direction: column-reverse;
        
    }
    .btn1 {
        width: 211px;
        height: 55px;
        border-radius: 30px;
        margin: 5px;
        border: 1px solid #D3D3D3;
        color: #D3D3D3;
        background: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 750px) {
            width: 150px;
            height: 40px;   
        }
    }
    .btn2 {
        width: 211px;
        height: 55px;
        border-radius: 30px;
        margin: 5px;
        border: none;
        color: white;
        background: #FE5F1E;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.49px;
        @media (max-width: 750px) {
            width: 150px;
            height: 40px;
        }
    }
}