.main {
    width: 820px;
    margin: 0 auto;
    @media (max-width: 1000px) {
        width: 90vw;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 94px 0 30px;
    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.98px;
    }
    button {
        padding: 10px 20px;
        background: white;
        border: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        color: #B6B6B6;
        &:hover {
            color: black;
            background-color: #b6b6b629;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
.items {
}
.item {
    border-top: 1px solid #F4F4F4;
    padding-top: 30px;
    display: flex;
    margin-bottom: 30px;
}
.logo {
    display: flex;
    width: 375px;
    height: 80px;
    margin-right: 68px;
}
.title {
    margin: 15px;
    h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26.8px;
    }
    p {
        font-size: 18px;
        font-weight: 400;
        color: #8D8D8D;
    }
}
.counter {
    display: flex;
    width: 102px;
    height: 32px;
    margin: 24px 0;
    h2 {
        margin: 0 12px;
    }
    button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 25px;
        color: #EB5A1E;
        background-color: white;
        border: 1px solid #EB5A1E;
        &:hover {
            background-color: #EB5A1E;
            color: white;
            cursor: pointer;
        }
    }
}
.price {
    margin: 27px 93px
}
.close {
    width: 32px;
    height: 32px;
    margin: 24px 0;
    border-radius: 50px;
    border: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 10px;
        height: 10px;
    }
    &:hover {
        color: black;
        background-color: #b6b6b629;
        cursor: pointer;
    }
}
.allPrice {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.allPizza {
}
.finalPrice {
}
.footer {
    display: flex;
    justify-content: space-between;
    .btn1 {
        width: 211px;
        height: 55px;
        border-radius: 30px;
        border: 1px solid #D3D3D3;
        color: #D3D3D3;
        background: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn2 {
        width: 211px;
        height: 55px;
        border-radius: 30px;
        border: none;
        color: white;
        background: #FE5F1E;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.49px;
    }
}