.main {
    width: 280px;
    text-align: center;
    // margin: 0 12px 65px;
    cursor: pointer;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.03);
    }
}
.image {
    img {
        width: 100%;
    }
}
// .container {

// }
.title {
    margin: 11px 0 22px;
}
.select {
    background: #F3F3F3;
    padding: 7px 0;
    border-radius: 10px;
}
.type {
    display: flex;
    justify-content: space-around;
    .btn {
        width: 131px;
    }
    margin-bottom: 7px;
}
.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.disabled {
    opacity: 0.1;
    cursor: no-drop;
}
.active {
    background-color: white;
}
.size {
    display: flex;
    justify-content: space-around;
    .btn {
        width: 86px;
    }
}
.footer {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    display: flex;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    color: #FE5F1E;
    font-size: 16px;
    width: 155px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    .count {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FE5F1E;
        color: white;
        border-radius: 50%;
        width: 27px;
        height: 27px;
    }
    &:hover {
        background-color: #FE5F1E;
        color: white;
        font-weight: bold;
    }
}